<!--<pre>{{ items | json }}</pre>
http://stackoverflow.com/questions/22626916/increment-decrement-quantity-with-angular-form-->

<div ng-include="'tpls/navbar.html'"></div>



<div class="row">
<ul class="items">
	<li ng-repeat="item in items | filter : { name : nameFilter } | filter : { category : category }" 
		class="pull-left col-lg-3 text-center"
		style="padding: 20px 0px;">
		<a href="#/item/{{item.name}}">
			<img 
				style="border: 1px solid #000;"
				src="http://lorempixel.com/250/250/food/{{$index}}/{{item.name}}" />
		</a>
		<br />
		<br />
		<button 
			class="btn btn-info btn-xs" 
			ng-click="item.qty = item.qty + 1">add</button>
		<input class="input-sm" type="text" ng-model="item.qty" />
		<button 
			class="btn btn-info btn-xs" 
			ng-click="item.qty = item.qty - 1">del</button>
	</li>
</ul>
</div>
