<!--
http://stackoverflow.com/a/18562339
-->
<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Ng-ShoppingCart</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
<!--    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a>Link</a></li>
        <li><a>Link</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a>Action</a></li>
            <li><a>Another action</a></li>
            <li><a>Something else here</a></li>
            <li class="divider"></li>
            <li><a>Separated link</a></li>
            <li class="divider"></li>
            <li><a>One more separated link</a></li>
          </ul>
        </li>
      </ul>-->
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="$parent.nameFilter">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a>Link</a></li>-->

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
						{{ $parent.category && $parent.category || 'Categories' }} <span class="caret"></span>
					</a>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-click="$parent.category = ''">All Items</a></li>
            <li><a ng-click="$parent.category = 'Vegetarian'">Vegetarian</a></li>
            <li><a ng-click="$parent.category = 'Paleo'">Paleo</a></li>
            <li><a ng-click="$parent.category = 'South Beach'">South Beach</a></li>
            <li class="divider"></li>
            <li><a>Separated link</a></li>
          </ul>
        </li>


        <li class="dropdown" ng-show="(items | addedItemsFilter).length">
          <a class="dropdown-toggle" data-toggle="dropdown">{{ (items | addedItemsFilter).length }} items <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
						<li ng-repeat="item in items | addedItemsFilter">
							<a>{{ item.name }}</a>
						</li>
            <li class="divider"></li>
            <li><a>Checkout</a></li>
          </ul>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

